<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área</title>
</head>
<body>

    <h1>Gerenciador de Área</h1>
    <a href="{% url 'area_cadastro' %}">Cadastrar Áreas</a>
    <p>Lista de áreas</p>
    {% for area in lista_areas %}
        <p>{{ area.nome }} 
            | <a href="{% url 'area_editar' area.id %}">EDITAR</a>
            | <a href="{% url 'area_remover' area.id %}">APAGAR</a></p>
        {% empty %}
        <p>Nenhuma área cadastrada</p>
    {% endfor %}
    
</body>
</html>