{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title_dashboard %}{% endblock %}
        {% block title_index %}{% endblock %}
        {% block title_perfil %}{% endblock %}
        {% block title_about_us %}{% endblock %}
        {% block title_pagina_cliente %}{% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" type="image/x-icon" href="{% static 'Imagens/favicon/Favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'CSS/BaseCSS/base.css' %}?v={% now 'U' %}">
        <link rel="stylesheet" href="{% static 'CSS/BaseCSS/variaveis_base.css' %}?v={% now 'U' %}">
        <link rel="stylesheet" href="{% static 'CSS/BaseCSS/barra_lateral.css' %}?v={% now 'U' %}">
        <link rel="stylesheet" href="{% static 'CSS/BaseCSS/cabecalho.css' %}?v={% now 'U' %}">
        <link rel="stylesheet" href="{% static 'CSS/BaseCSS/main.css' %}?v={% now 'U' %}">
        <link rel="stylesheet" href="{% static 'CSS/aba_usuario.css' %}?v={% now 'U' %}">
        <link rel="stylesheet" href="{% static 'CSS/sobre_nos.css' %}?v={% now 'U' %}">
        <link rel="stylesheet" href="{% static 'CSS/dashboard.css' %}?v={% now 'U' %}">
        <link rel="stylesheet" href="{% static 'CSS/pagina_cliente.css' %}?v={% now 'U' %}">

    </head>

    <body>

        {% include 'base/cabecalho.html' %}
        {% block dashboard %}{% endblock %}
        {% block index %}{% endblock %}
        {% block sobre_nos %}{% endblock %}
        {% block pagina_cliente %}{% endblock %}

    </body>

</html>