{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title_dashboard %}{% endblock %}
        {% block title_index %}{% endblock %}
        {% block title_perfil %}{% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" type="image/x-icon" href="{% static 'Imagens/favicon/Favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'base.css' %}?v={% now 'U' %}">
        <link rel="stylesheet" href="{% static 'barra_lateral.css' %}?v={% now 'U' %}">
        <link rel="stylesheet" href="{% static 'cabecalho.css' %}?v={% now 'U' %}">
        <link rel="stylesheet" href="{% static 'main.css' %}?v={% now 'U' %}">
    </head>

    <body>

        {% include 'base/cabecalho.html' %}
        {% block dashboard %}{% endblock %}
        {% block index %}{% endblock %}
        {% block perfil %}{% endblock %}

    </body>

</html>