{% extends 'base.html' %}
{% load static %}
{% block title_index %}<title>Página Inicial</title>{% endblock %}
{% block index %}

    <main>

        {% include 'base/barra_lateral.html' %}
        <a href="{% url 'SobreNos' %}">Link para About Us</a>
        <p style="color: black;">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, placeat blanditiis. Ratione quaerat reprehenderit sunt deleniti molestiae reiciendis. Distinctio eos dolore dolores praesentium repudiandae iste repellat atque obcaecati aspernatur reprehenderit.
        </p>

    </main>

{% endblock %}
