{% extends 'base.html' %}
{% load static %}

{% block title_index %}
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}?v={% now 'U' %}">
{% endblock %}

{% block index %}

    <main>
        {% include 'base/barra_lateral.html' %}
        <div class="conteiner">
            <a href="{% url 'SobreNos' %}">Link para Sobre nós</a>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, placeat blanditiis. Ratione quaerat reprehenderit sunt deleniti molestiae reiciendis. Distinctio eos dolore dolores praesentium repudiandae iste repellat atque obcaecati aspernatur reprehenderit.
            </p>
        </div>
    </main>

{% endblock %}
