{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'Imagens/favicon/Favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'forms.css' %}?v={% now 'U' %}">
    </head>

    <body>
        <h1>Login</h1>
        <a href="{% url 'forms' %}">Não tem uma conta? Cadastre-se!</a>

        <form action="{% url 'perfil' %}" method="post">

            <p>
                Email:
                <input type="email" name="email"/>
                <br/>
                Senha:
                <input type="password" name="senha"/>
                <br/>
            </p>

            <p id="psubmit">
                <input type="submit" value="Login"/>
            </p>

            <p>
                <a href="{% url 'recuperar_senha' %}">Esqueceu sua senha?</a>
            </p>
        </form>

    </body>

</html>