{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title_forms %}<title>{% endblock %}
        {% block title_recuperar_senha %}{% endblock %}
        {% block title_login %}<title>{% endblock %}
        <link rel="icon" type="image/x-icon" href="{% static 'Imagens/favicon/Favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'forms.css' %}?v={% now 'U' %}">
    </head>

    <body>
        
        {% block forms %}{% endblock %}
        {% block recuperar_senha %}{% endblock %}
        {% block login %}{% endblock %}

    </body>

</html>