{% extends 'forms/forms_base.html' %}
{% load static %}

{% block title_forms %}
    <title>Cadastre-se</title>
{% endblock %}

{% block forms %}

        <h1>Cadastre-se</h1>
        <a href="{% url 'login' %}">Já é cliente? Clique aqui e faça Login!</a>

        <form action="{% url 'perfil' %}" method="post">
            <p>
                Nome:
                <input type="text" name="nome"/>
                <br/>
                Email:
                <input type="email" name="email"/>
                <br/>
                Senha:
                <input type="password" name="senha"/>
                <br/>
                Telefone:
                <input type="text" name="telefone"/>
                <br/>
                Data de Nascimento:
                <input type="date" name="data_nascimento" placeholder="Data de Nascimento"/>
            </p>
            <p id="psubmit">
                <input type="submit" value="Cadastrar"/>
            </p>
        </form>
        
{% endblock %}

