{% extends 'forms/forms_base.html' %}
{% load static %}

{% block title_forms %}
    <title>Cadastre-se</title>
{% endblock %}

{% block forms %}

        <h1>Cadastre-se</h1>
        <a href="{% url 'login' %}">Já é cliente? Clique aqui e faça Login!</a>

        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <p>
                Nome:
                <input type="text" name="nome" required/>
                <br/>
                Email:
                <input type="email" name="email" required/>
                <br/>
                Senha:
                <input type="password" name="senha" required/>
                <br/>
                Telefone:
                <input type="text" name="telefone" required/>
                <br/>
                Data de Nascimento:
                <input type="date" name="data_nascimento" placeholder="Data de Nascimento" required/>
            </p>
            <p id="psubmit">
                <input type="submit" value="Cadastrar"/>
            </p>
        </form>
        
{% endblock %}

