<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instrutor</title>
</head>
<body>

    <h1>Gerenciador de instrutores</h1>
    <a href="{% url 'instrutor_cadastro' %}">Cadastrar instrutor</a>
    <p>Lista de instrutores</p>
    {% for instrutor in lista_instrutor %}
        <p>{{  instrutor.nome }} 
            | <a href="{% url 'instrutor_editar' instrutor.id %}">EDITAR</a>
            | <a href="{% url 'instrutor_remover' instrutor.id %}">APAGAR</a></p>
        {% empty %}
        <p>Nenhum instrutor cadastrado</p>
    {% endfor %}
    
</body>

</html>