.sidebar{
    background: linear-gradient(to top, var(--cor_primaria), var(--cor_secundaria));
    transition: width 0.5s ease-in-out;
    justify-content: center;
    color: var(--text_cor);
    align-items: center;
    position: fixed;
    flex-shrink: 0;
    display: flex;
    height: 90%;
    width: 60px;
    margin-top: 3%;
    border: 0px solid red;
}
.sidebar:hover{
    width: 90px;
}
.sidebar nav{
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 90%;
}
.sidebar nav a{
    transition: background 0.2s;
    justify-content: end;
    color: var(--text_cor);
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    border-radius: 30px;
    padding: 1rem 1rem;
    display: flex;
}
.sidebar nav a:hover{
    background-color: var(--cor_selection_background);
    padding: 1rem 1rem;
    display: flex;
}
.sidebar nav a p{
    justify-content: center;
    color: var(--text_cor);
    text-decoration: none;
    align-items: center;
    padding: 12px 0;
    display: none;
    margin: 0;
}
.sidebar:hover nav a p{
    display: flex;
}
.sidebar nav a i:not(#logout-icon){
    color: var(--color_icon);
}
.sidebar nav a i{
    margin: 0;
}
.sidebar .logout{
    color: #e74c3c;
}
.main-content{
    padding: 30px;
    flex: 1;
}
