*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    overflow: auto;
    height: 100%;
}


body{
    font-family: Arial, sans-serif;
    background-color: var(--background_color);
    color: var(--text_cor);
    flex-direction: column;
    align-items: end;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
