:root {
    --background_color: white;
    --cor_primaria: #70be36; 
    --cor_secundaria: black;
    --cor_terciária: #2b6b18;
    --cor_quaternaria: #4caf50;
    --text_cor: white; 
    --text_color2: black;
    --text_color3: grey;
    --text_color4: #70be36;
    --cor_selection_background: grey;
    --input_color: white;
    --input_borda: black;
    --input_color_submit: black;
    --cor_selection_text: white;
    --paddin_cabeçalho: 15px 20px;
    --color_icon: white;
    --card_bg: #535353;
    --margin_top_sobre_nos: 30px;
    --alinhamento_barra_e_main: 30px;
    --espacamento_entre_conteudo_e_barra: 90px;
}

::selection{
    background: var(--cor_selection_background);
    color: var(--cor_selection_text);
}
