body {
    background-color: var(--cor_primaria);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
}

h1, a, p, label {
    color: var(--text_cor);
}

h1 {
    margin-bottom: 0;
}

a{
    text-decoration: none;
}

input, select, textarea{
        border: none;
}

input[type="date"], input[type="file"], select {
    cursor: pointer;
}

input[type="submit"] {
    background-color: var(--input_color_submit);
    color: var(--text_cor);
    padding: var(--padding_input_submit);
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    width: auto;
    padding: 10px 15px;
}

.link {
    text-decoration: none;
    display: flex;
    gap: 5px;
}