body {
    background-color: var(--cor_primaria);
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1, a, p {
    color: var(--text_cor);
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

tr, th, td {
    background-color: var(--cor_secundaria);
    border: 1px solid var(--text_cor);
    width: 100%;
    color: var(--text_cor);
}

#nome{
    width: auto;
    padding: 12px;
    text-align: center;
}

#acoes {
    width: auto;
    padding: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.link {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    gap: 5px;
}