body {
    background-color: var(--cor_primaria);
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1, a, p {
    color: var(--text_cor);
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

table {
    width: 90%;
    margin: 0 auto;
}

tr, th, td {
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--cor_secundaria);
    border: 1px solid var(--text_cor);
    color: var(--text_cor);
}

tr, th{
    width: 50%;
}

.nome{
    padding: 12px;
    text-align: center;
}

.acoes{
    padding: 12px;
    text-align: center;
    gap: 10px;
}

.link {
    height: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 5px;
}

.link p {
    margin: 0;
    padding: 0;
}