main .conteiner a{
    color: blue;
    text-decoration: none;
}

main .conteiner p{
    color: black;
}

main .conteiner{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}