    /* Cabeçalho superior */

    .main-content {
      margin-left: 5%;
    }

    /* Grade de produtos */
    .products {
      background-color: var(--text_color4);
      width: 100%;
      height: auto;
      padding: 30px;
      justify-content: left;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
    }

    .product-card, .product-card_cadastro {
      border: 1px solid #ccc;
      border-radius: 10px;
      width: auto;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 200px;
    }

    .product-card_cadastro img { 
      max-width: 100px;
      height: auto;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .product-card img {
      max-width: 100px;
      height: auto;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .product-card h3 {
      font-size: 16px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    .product-card p {
      font-weight: bold;
      font-size: 16px;
      color: var(--text_cor3);
    }

    .product-card_cadastro strong a{
      text-decoration: none;
      color: var(--text_color1);
    }