.container {
    margin-top: var(--alinhamento_barra_e_main);
    margin-left: var(--espacamento_entre_conteudo_e_barra);
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background_color);
    border-radius: 8px;
}

.profile-details {
    width: 400px;
    padding: 20px;
    background-color: var(--cor_primaria);
    border-radius: 10px;
    text-align: left;
}

.registros_de_pedidos{
    height: auto;
    padding: 20px;
    background-color: var(--cor_primaria);
    font-size: 14px;
    color: var(--cor_texto_secundaria);
    margin-bottom: 15px;
    border-radius: 10px;
}

caption{
    color: var(--text_cor);
}

table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

tr, th, td {
    border-collapse: collapse;
    background-color: var(--cor_primaria);
    border: 1px solid var(--text_cor);
    color: var(--text_cor);
}

tr, th{
    width: 100%;
}