.conteiner{
    margin-left: 2%;
    gap: var(--margin_top_sobre_nos);
}

.conteiner h1 {
    color: var(--text_color3);
}

.conteiner h2 {
    color: var(--text_color3);
}

.conteiner p, li {
    color: var(--text_color3);
    font-size: 16px;
}

.conteiner .info-section strong {
    display: block;
    color: var(--text_color3);
}

.conteiner .address {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--text_color3);
    letter-spacing: 1px;
}

.conteiner a{
    height: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text_color3);
    text-decoration: none;
    gap: 5px;
}
 
.conteiner a p, .conteiner a i{
    margin: 0;
    padding: 0;
}