main{

    min-width: 300px;
    max-width: 1000px;
    margin: auto;

}

main .conteiner{
    margin-left: 2%;
    margin-top: 2%;
    
}

main .conteiner h1 {
    color: var(--text_color3);
}

main .conteiner h2 {
    color: var(--text_color3);
    margin-top: var(--margin_top_sobre_nos);
}

main .conteiner p, li {
    color: var(--text_color3);
    font-size: 16px;
}

main .conteiner .info-section {
    margin-top: var(--margin_top_sobre_nos);
}

main .conteiner .info-section strong {
    display: block;
    margin-top: var(--margin_top_sobre_nos);
    color: var(--text_color3);
}

main .conteiner .address {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--text_color3);
    letter-spacing: 1px;
}

main .conteiner a{
    color: var(--text_color3);
    text-decoration: none;
}