.main-content{
    background-color: var(--background_color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text_color2);
}

.main-content p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text_color2);
}

.quadro-right, .quadro-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: start;
}

.quadro-right{
    width: 40%;
}

.quadro-right img{
    width: 50%;
    height: 50%;
    border-radius: 20px;
    border: 3px solid black;
}

.quadro-right h2, .quadro-right p {
    color: var(--text_color2);
}

.quadro-left{
    width: 50%;
    height: 50%;
}

.quadro-left .titulo h1, .quadro-left .descricao p{
    color: var(--text_color4);
}

.quadro-left .titulo{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.quadro-left .titulo h1{
    font-size: 30px;
}

.quadro-left .titulo img {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid var(--cor_primaria);
}

.quadro-left .descricao{
    width: 70%;
    height: 25%;
    line-height: 1.4;
}

.quadro-left .descricao strong p{
    font-size: 20px;
}

.quadro-left .descricao p{
    margin-top: 10px;
}
