<aside class="sidebar">
    <nav>
        <a href="{% url 'index' %}"><i class="fas fa-home fa-lg"></i><p>Início</p></a>
        <a href="{% url 'perfil' %}"><i class="fas fa-user fa-lg"></i><p>Perfil</p></a>
        <a href="{% url 'PaginaCliente' %}"><i class="fas fa-cart-shopping fa-lg"></i><p>Produtos</p></a>
        <a href="{% url 'dashboard' %}"><i class="fas fa-chart-line fa-lg"></i><p>Dashboard</p></a>
        <a href="{% url 'desconectar' %}" class="logout"><i id="logout-icon" class="fas fa-sign-out-alt fa-lg"></i><p>Sair</p></a>
    </nav>
</aside>