{% load static %}

    <header>
        <div><strong>S.J. SUPLEMENTOS</strong></div>
        <button class="contact-button">FALE CONOSCO</button>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <button>🔍</button>
        </div>
    </header>

<!--
<div>
            <h1>São Jorge Suplementos</h1>
        </div>
        <div>
            <button id="btn_usuario"><i class="fas fa-user fa-lg" style="color: white;" ></i>
                <div id="perfilSidebar">
                <h2>Perfil do Usuário</h2>
                <p>Email:</p>
                <p>Username:</p>
                </div>
            </button>
        </div>    
-->