{% load static %}

    <header>
        <div class="header">
            <div><strong>S.J. SUPLEMENTOS</strong></div>
            <div class="header-right">
                {% if user =! %}
                    <a href="{% url 'forms' %}" class="contact-button"><div><p>CADASTRE-SE!</p><i class="fa-solid fa-pen" style="color: black;"></i></div></a>
                {% endif %}
                <a href="{% url 'tela_whatsapp' %}" class="contact-button"><div><p>FALE CONOSCO</p><i class="fab fa-whatsapp" style="color: green;"></i></div></a>
                <a href="{% url 'SobreNos' %}" class="sobre-nos-button"><div><p>SOBRE NÓS</p><i class="fas fa-users"></i></div></a>
                <div class="search-bar">
                    <input type="text" placeholder="Search">
                    <button>🔍</button>
                </div>
            </div>
        </div>
    </header>

<!-- Favor não remover
<div>
            <h1>São Jorge Suplementos</h1>
        </div>
        <div>
            <button id="btn_usuario"><i class="fas fa-user fa-lg" style="color: white;" ></i>
                <div id="perfilSidebar">
                <h2>Perfil do Usuário</h2>
                <p>Email:</p>
                <p>Username:</p>
                </div>
            </button>
        </div>    
-->