{% load static %}

    <header>
        <div class="header">
            <div><strong>S.J. SUPLEMENTOS</strong></div>
            <div class="header-right">
                <a href="{% url 'tela_whatsapp' %}" class="contact-button"><div><p>FALE CONOSCO</p><i class="fab fa-whatsapp"></i></div></a>
                <div class="search-bar">
                    <input type="text" placeholder="Search">
                    <button>🔍</button>
                </div>
            </div>
        </div>
    </header>

<!--
<div>
            <h1>São Jorge Suplementos</h1>
        </div>
        <div>
            <button id="btn_usuario"><i class="fas fa-user fa-lg" style="color: white;" ></i>
                <div id="perfilSidebar">
                <h2>Perfil do Usuário</h2>
                <p>Email:</p>
                <p>Username:</p>
                </div>
            </button>
        </div>    
-->