#perfilSidebar{
    height: 100%;
    width: 30%; 
    position: relative;
    background-color: var(--cor-secundaria);
    color: --cor-texto;
    z-index: 1000;
    display: none;
}

#btn_usuario:hover .perfilSidebar{
    display: flex;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    transform: translateX(0);
    transition: 0.5s; 
}