:root {
    --cor_primaria: #70be36; 
    --cor_secundaria: black;
    --text_cor: white; 
    --input_color: white;
    --input_borda: black;
    --input_color_submit: black;
    --cor_selection_background: black;
    --cor_selection_text: white;
}

::selection{
    background: var(--cor_selection_background);
    color: var(--cor_selection_text);
}

body {

    font-family: Arial, sans-serif;
    background: linear-gradient(to left, var(--cor_primaria), var(--cor_secundaria));
    color: var(--text_cor);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
    display: flex;
    margin: 0;
    padding: 0;

}

