header {

    background-color: blue;
    color: var(--text_cor);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 20px;
    
}
