{% extends 'CRUD/lista_base.html' %}
{% load static %}

{% block title_fornecedores %}
    <title>Fornecedor</title>
{% endblock %}

{% block fornecedores %}

        <h1>Gerenciador de Fornecedores</h1>
        <a href="{% url 'fornecedor_cadastro' %}" class="link">Cadastrar Fornecedor <i class="fa-solid fa-truck"></i></a>
        <a href="{% url 'PaginaCliente' %}" class="link"><i class="fa fa-arrow-right" style="rotate: 180deg;"></i><p>Voltar</p></a>
        <table>
            <tr>
                <th class="nome">Nome do Fornecedor</th>
                <th class="acoes">Ações</th>
            </tr>
            {% for fornecedor in lista_fornecedores %}
                <tr>
                    <td class="nome">{{ fornecedor.nome }}</td>
                    <td class="acoes">
                        <a href="{% url 'fornecedor_editar' fornecedor.id %}">EDITAR</a> |
                            <a href="{% url 'fornecedor_remover' fornecedor.id %}">APAGAR</a>
                        </td>
                    </tr>
                {% empty %}
                <p>Nenhum fornecedor cadastrado</p>
            {% endfor %}
        </table>

{% endblock %}
