<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
</head>
<body>

    <h1>Cadastro de Produtos</h1>
    <form method="post">
        {%csrf_token%}
        {{ form }}
        <select name="fornecedor" required="" id="id_fornecedor">
            <option value="" selected="">---------</option>
            {% for fornecedor in lista_fornecedores %}
                <option value="{{ fornecedor.id }}">{{ fornecedor.nome }}</option>
            {% endfor %}
        </select>
        <p><input type="submit" value="Enviar"/></p>
    </form>

</body>
</html>